<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js" defer></script>
  </head>
  <style>
    .disabled {
      color: rgb(98, 135, 135);
      transition: color 2s ease-in-out 1s;
    }
  </style>
  <body>
    <div id="app">
      {{ message }}
      <div>
        1st number:
        <input type="text" v-model="number1" />
      </div>
      <div>
        2nd number:
        <input type="text" v-model="number2" />
      </div>
      <div>
        3rd number:
        <input type="text" v-model="number3" />
      </div>
      <br />
      <div><button v-on:click="computeSum()">Compute sum</button></div>
      <br />
      <div><button v-on:click="computeFloatingSum()">Compute floating sum</button></div>
      <br />
      <div><button v-on:click="computeBothSums()">Compute both sums</button></div>
      <br />

      <p>The sum is: {{sum}}</p>

      <p>The floating sum is: {{floatsum}}</p>

      <div>
        <button v-on:click="showInfo = !showInfo">toggle</button>
        <!-- <input type="checkbox" v-on:click="showInfo = !showInfo" /> -->
        <!-- <input type="text" v-if="showInfo" v-model="toggletest" /> -->
        <!-- <p v-if="showInfo">toggle test</p> -->
        <p v-bind:class="{disabled: showInfo}">Click to fade</p>
      </div>

      <input type="text" v-model="newStuff" />
      <button v-on:click="addNewStuff()">Add a new stuffs</button>
      <div v-for="stuff in stuffs">
        <p>{{ stuff }}</p>
      </div>
    </div>
  </body>
</html>
